
.gradle/
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
.idea/
*.iml
*.iws
*.ipr
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
*.apk
*.aab
*.dex
*.class
*.log
.kotlin/
.ksp/
*.jks
*.keystore
google-services.json
secrets.properties