
.gradle/
build/
*/build/
*/*/build/
app/src/build/
app/build/

*.iml
.idea/
.DS_Store
*.iws
*.ipr
out/
.cxx/
captures/
.externalNativeBuild/

local.properties

*.jks
*.keystore

bin/
gen/
obj/
app/gen/

*.log


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.lock

.kotlin/
buildSrc/.gradle/
buildSrc/build/

*.class

*.json

generated/
*.orig

captures/


*.hprof


.vscode/

com_crashlytics_export_strings.xml

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

Gemfile.lock
vendor/


.DS_Store


Thumbs.db
ehthumbs.db
Desktop.ini


.directory

*.jks
*.keystore
key.properties


google-services.json
GoogleService-Info.plist

secrets.properties
secrets/
*.secret.txt

.kover/

detekt/
benchmark-build.gradle